# sets
- how to create
- methods
- set operations
 -- union
 --intersection
 -- difference
 -- symmetric difference
 -- issubset
 -- issuperset

In [2]:
x={2,4,6,8,10,12,14,16,18,20}
print(x)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [3]:
x= {'Hello'}
print(x)

{'Hello'}

In [4]:
x= set('hello')
print(x)

{'o', 'e', 'l', 'h'}

In [5]:
lst = set([1,2,3,4,5,5,3,4,5,6,7,8,9,10]) #set duplicate value print nhi karta hai 
print(lst)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
c= set(range(21))#set me range dene ke liye 
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [8]:
b = set(range(2,24,3))
print(b)

{2, 5, 8, 11, 14, 17, 20, 23}

In [9]:
# to add data to a set 
data = set()
data.add(1)
data.add(2)
data.add(3)
data.add(4)
data.add(5)
print(data)

{1, 2, 3, 4, 5}